*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.section-1, 
.section-2, 
.section-3,
.section-4 {
    padding: 0 150px;
    padding-bottom: 64px;
}

.section-1, .footer {
    background-color: rgb(3, 27, 77);
    color: rgb(251, 251, 251);
}

.header{
    padding-top: 8px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
    font-weight: 300;
    text-shadow: 40px;
}

.nav {
    display: flex;
    list-style-type: none;
    gap: 16px;
}


.hero {
    display: flex;
    justify-content: space-between;

}

.info {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info p {
    line-height: 1.5;
}

.img-container {
    width: 400px;
    border: 2px solid black;
    height: 300px;
    /* flex-grow: 3; */
    align-self: flex-end;
    background-color: beige;
}


.explore, .get_the_list{
    align-self: flex-start;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 8%;
}


/* section 2 */

.section-2 {
    padding-top: 40px;
}

.section-2 h3 {
    text-align: center;
    font-size: 32px;

}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}

.card {
    height: 200px;
    border: 2px solid black;
    border-radius: 10%;
}


/* section 3 */

.section-3 {
    background-color: rgb(223, 226, 229);
    padding-bottom: 64px;
    padding-top: 64px;
}

.section-3 .quote {
    color: rgb(129, 133, 136);
    font-size: 32px;
    margin-bottom: 16px;

}

.author {
    text-align: right;
    color: rgb(36, 35, 35);
    font-size: larger;
    font-weight: bolder;
}


.section-4 {
    margin: 64px 0;
}

.call_to_action {
    background-color: rgb(8, 66, 127);
    padding: 32px 64px;
    border-radius: 8%;
    color: white;
}


.footer {
    text-align: center;
    padding: 10px;
}